asgiref==3.2.10
awsebcli==3.20.0
botocore==1.20.101
cement==2.8.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.3
Django==3.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-session-timeout==0.1.0
ebcli==4.0.18
enum34==1.1.10
future==0.16.0
idna==2.10
Jinja2==3.0.1
jmespath==0.10.0
keyring==9.0
keyrings.alt==4.0.2
MarkupSafe==2.0.1
pathspec==0.5.9
Pillow==8.2.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
pypiwin32==223
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
urllib3==1.25.11
wcwidth==0.1.9
